h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
}
h1,h2,h3,h4,h5,h6 {
  line-height: $headings-line-height;
  font-weight: $headings-font-weight;
  margin-bottom: $headings-margin-bottom;
  margin-top: $headings-margin-top;
  font-family: $headings-font-family;
}
