.input,
.textarea {
  width: 100%;
  outline: none;
  border: 2px solid var(--input-box-shadow-color);
  padding: 10px 40px 8px 12px;
  resize: none;
  background-color: transparent;
  color: var(--themetoggle);
  transition: $transition-base;
}