// A common Bootstrap breakpoints mixins

@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n != null and $n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - .02, null);
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

// A common Bootstrap breakpoints mixins

// font face mixin

@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('../fonts/#{$url}.eot'); /* IE9 Compat Modes */
    src: url('../fonts/#{$url}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/#{$url}.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/#{$url}.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/#{$url}.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: #{$weight};
    font-display: swap;
    font-style: normal;
  }
}