html, body {
    height: 100%;
}
body {
    color: $white;
    background-color: $dark;
    --themecolor: #090909;
    --themetoggle: #FFFFFF;
    --border-color: #FFFFFF;
    --border-colored: hsla(0,0%,50%,.1);

    font-family: 'Actay', 'sans-serif';
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: $font-size-base;
    transition: $transition-base;

    margin: 0;
    height: 100vh;
    overflow: hidden;
    //background: white;
}
body.light {
    color: $dark;
    background-color: $white;
    --themecolor: #FFFFFF;
    --themetoggle: #090909;
    --border-color: #000000;
    --border-colored: hsla(0, 2%, 60%, 0.2);
}
.main {
    flex-grow: 1;
}
.wrapper {
    display: flex;
    flex-grow: 1;
}
.container {
    padding: 0 16px;
}