@font-face {
    font-family: "icons";
    src: url("./icons.eot?3ba8360c7907600c6a24c0654cb74480#iefix") format("embedded-opentype"),
url("./icons.woff2?3ba8360c7907600c6a24c0654cb74480") format("woff2"),
url("./icons.woff?3ba8360c7907600c6a24c0654cb74480") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bubble2:before {
    content: "\f101";
}
.icon-bubbles:before {
    content: "\f102";
}
.icon-bubbles2:before {
    content: "\f103";
}
.icon-contrast:before {
    content: "\f104";
}
.icon-display:before {
    content: "\f105";
}
.icon-drawer:before {
    content: "\f106";
}
.icon-fire:before {
    content: "\f107";
}
.icon-git:before {
    content: "\f108";
}
.icon-github:before {
    content: "\f109";
}
.icon-home:before {
    content: "\f10a";
}
.icon-html-five:before {
    content: "\f10b";
}
.icon-laptop:before {
    content: "\f10c";
}
.icon-mobile:before {
    content: "\f10d";
}
.icon-steam:before {
    content: "\f10e";
}
.icon-telegram:before {
    content: "\f10f";
}
.icon-terminal:before {
    content: "\f110";
}
.icon-translate:before {
    content: "\f111";
}
