.contact {
  height: 100%;
  &__inner {
    height: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__form {
    @include media-breakpoint-up(lg) {
      width: 50%;
    }
  }
  &__title {
    margin-bottom: 20px;
  }
}