.contact {
  height: 100%;
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    @include media-breakpoint-up(sm) {
      padding: 0 10%;
    }
  }
  &__form {
  }
  &__title {
    margin-bottom: 20px;
  }
  &__row {
    display: flex;
  }
  &__col {
    flex: 1 0 50%;
    &:last-child {
      display: none;
      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }
  &__animation {
    position: relative;
    height: 100%;
  }
}
