.home {
  height: 100%;
  &__inner {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include media-breakpoint-up(md) {
    }
  }
  &__centered {
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }
  // TODO: rewrite width style to adaptive one
  &__title {
    margin-bottom: 16px;
    transition: $transition-base;
    min-height: 125px;
    @include media-breakpoint-up(md) {
      width: 500px;
      min-height: 143px;
    }
    @include media-breakpoint-up(lg) {
      width: 700px;
      min-height: 165px;
    }
  }
  &__links {
    .btn-animated {
      margin-right: 8px;
    }
  }
}
