.sidebar {
  transition: width 0.2s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-right: 1px solid var(--border-colored);
  &_opened & {
    &__inner {
      opacity: 1;
      z-index: 0;
    }
  }
  @include media-breakpoint-up(md) {
    position: static;
    width: 58px;
    height: 100%;
  }
  &_opened {
    height: 100%;
    @include media-breakpoint-up(md) {
      width: 200px;
    }
  }
  &_opened & {
    &__item_hidden {
      @include media-breakpoint-up(md) {
        position: relative;
        left: 0;
        opacity: 1;
      }
    }
    &__text-hidden {
      @include media-breakpoint-up(md) {
        position: relative;
        left: 0;
        opacity: 1;
      }
    }
  }
  &__header,
  &__body,
  &__social {
    padding: 16px;
  }
  &__social {
    display: flex;
    justify-content: center;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
  &__header {
    position: absolute;
    top: 0;
    right: 16px;
    z-index: 1;
    @include media-breakpoint-up(md) {
      left: 0;
      right: unset;
    }
  }
  &__body {
    margin: auto 0;
    display: flex;
    justify-content: center;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
  &__inner {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    opacity: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity 0.3s ease-in-out;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $cyan;
      opacity: 0.6;
      z-index: -1;
    }
    @include media-breakpoint-up(md) {
      position: static;
      width: unset;
      z-index: 0;
      opacity: 1;
      transition: unset;
      &:before {
        content: unset;
      }
    }
  }
  &__list {
    list-style: none;
    padding-left: 0;
    margin: 0 -6px;
    display: inline-block;
    &_redirection {
      display: flex;
      justify-content: space-between;
      @include media-breakpoint-up(md) {
        max-width: 120px;
      }
    }
  }
  &__item {
    padding: 0 6px;
    font-size: 20px;
    &_hidden {
      @include media-breakpoint-up(md) {
        opacity: 0;
        position: absolute;
        left: -20%;
        transition: left 0.2s ease-in-out, margin-left 0.2s ease-in-out, position 0.2s ease-in-out, opacity 0.2s ease-in-out;
      }
    }
  }
  &__social-link {
    color: var(--themetoggle);
    display: inline-block;
    .icon {
      font-size: 24px;
    }
    &:hover {
      color: $primary;
    }
  }
  &__text-hidden {
    margin-left: 24px;
    @include media-breakpoint-up(md) {
      margin-left: 24px;
      opacity: 0;
      position: absolute;
      left: -20%;
      transition: left 0.2s ease-in-out, margin-left 0.2s ease-in-out, position 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }
  }
  &__link {
    color: var(--themetoggle);
    padding: 12px 0;
    display: inline-block;
    .icon {
      vertical-align: middle;
      font-size: 24px;
    }
    @include media-breakpoint-up(md) {
      padding: 8px 0;
    }
  }
  &__toggle-icon {
    @include burger(100%, 14px);
    width: 24px;
  }
  &__toggle {
    display: inline-block;
    cursor: pointer;
    transition: $transition-base;
    padding: 10px 0;
    &:hover {
      .sidebar__toggle-icon {
        color: $primary;
      }
    }
  }
}