.work {
  height: 100%;
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-breakpoint-up(lg) {
      padding: 0 10%;
    }
  }
}