$colors: $teal, $red, $purple, #1C5D99, #4357AD, #372554, #753742, #14213D, #B84A62, #C44900, #04151F, #04151F, #E6AF2E, #3D348B, #2E2D4D, #337357, #160C28;
$max-cards: 12;
$max-works: 5;

.work-grid__item {
  @for $i from 1 through $max-works {
    &:nth-child(#{$i}) {
      .work-card__description-title {
        $random: random($limit: length($colors));
        background-color: nth($colors, $random);
      }
      .work-card__description-item {
        @for $j from 1 through $max-cards {
          &:nth-child(#{$j}) {
            span {
              $random: random($limit: length($colors));
              background-color: nth($colors, $random);
            }
          }
        }
      }
    }
  }
  &:nth-child(3) {
    .work-card__description-title {
      margin-bottom: 16px;
      padding: 12px 20px 10px;
      font-size: 30px;
    }
    .work-card__description-row {
      margin: -6px;
    }
    .work-card__description-item {
      padding: 6px;
      span {
        padding: 8px 16px 6px;
        font-size: 24px;
      }
    }
  }
}

.work-card {
  height: 100%;
  position: relative;
  transition: $transition-base;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  &:before {
    @include media-breakpoint-up(lg) {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--themetoggle);
      opacity: 0.7;
      transition: $transition-base;
    }
  }
  &__description {
    @include media-breakpoint-up(lg) {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 16px;
      transition: $transition-base;
      color: var(--themecolor);
    }
  }
  &__description-row {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
  }
  &__description-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
    display: inline-block;
    padding: 4px 8px 3px;
    color: white;
    border-radius: 6px;
    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }
  }
  &__description-item {
    @include media-breakpoint-up(lg) {
      display: none;
    }
    @include media-breakpoint-up(xl) {
      display: block;
    }
    span {
      display: inline-block;
      padding: 4px 8px 3px;
      color: white;
      border-radius: 6px;
      @include media-breakpoint-up(lg) {
        font-size: 14px;
      }
      @include media-breakpoint-up(xxl) {
        font-size: 18px;
      }
    }
    padding: 4px;
    &_main {
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }
  &:hover & {
    &__description {
      opacity: 0;
    }
    &__additional {
      @include media-breakpoint-up(lg) {
        transform: translateY(0) translateX(-50%);
        opacity: 1;
        z-index: 0;
      }
    }
  }
  &:hover {
    @include media-breakpoint-up(lg) {
      &:before {
        opacity: 0;
      }
      transform: scale(1.06);
    }
  }
  &__links {
    display: flex;
    justify-content: center;
    margin: 0 -8px;
  }
  &__additional {
    padding: 8px;
    position: absolute;
    bottom: 18px;
    left: 50%;
    width: 80%;
    background-color: transparent;
    border-radius: 10px;
    transform: translateY(100%) translateX(-50%);
    transition: $transition-base;
    opacity: 0;
    z-index: -1;
  }
  &__link {
    color: var(--themecolor);
    font-size: 34px;
    padding: 0 8px;
    max-height: 34px;
    display: block;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: $red;
      opacity: 0.8;
      z-index: -1;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      background-color: $blue;
      opacity: 0.8;
      z-index: -1;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  &__image {
    height: 100%;
    img {
      height: 260px;
      width: 100%;
      @include media-breakpoint-up(sm) {
        height: 350px;
      }
      @include media-breakpoint-up(lg) {
        height: 100%;
      }
      object-fit: cover;
    }
  }
}
.swiper-slide-active {
  .work-card {
    &__additional {
      transform: translateY(0) translateX(-50%);
      opacity: 1;
      z-index: 0;
    }
  }
}
