.work {
  height: 100%;
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-up(lg) {
      align-items: start;
      padding: 0 10%;
    }
  }
  &__grid-wrapper {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    };
  }
  &__swiper-wrapper {
    transition: $transition-base;
    max-width: 268px;
    max-height: 400px;
    @include media-breakpoint-up(sm) {
      max-width: 400px;
    };
    @include media-breakpoint-up(md) {
      max-width: 390px;
    };
    @include media-breakpoint-up(lg) {
      display: none;
    };
  }
}